[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-filter = "*"
graphene = "*"
graphene-django = "*"
django-extensions = "*"
django-cors-headers = "*"
gunicorn = "*"
django-graphql-social-auth = "*"

[dev-packages]
pygraphviz = "*"
"flake8" = "*"
yapf = "*"
