[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
django-filter = "*"
graphene = "*"
graphene-django = "*"
django-extensions = "*"
django-cors-headers = "*"
django-graphql-jwt = "*"
gunicorn = "*"


[dev-packages]

pygraphviz = "*"
"flake8" = "*"
